* {
    box-sizing: border-box;
    margin: 0%;
}
.header-container{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.list-content {
  display: flex;
}

ul li {
    margin-left: 20px;
    margin-top: 40px;
}

img {
    margin-left: 50px;
    margin-right: 50px;
}

section {
    border-radius: 5px;
    background-color: beige;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    padding-top: 20px;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.burger-img{
    margin-bottom: 20px;
}


.checkout-container{
    display: flex;
}

.button-group {
    display: flex;
    flex-direction: column;
}

p {
    display: inline-flex;
}

#banner {
    margin: auto;
    width: 100%;
}

.our-story {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
}

body {
    font-family: 'Bruno Ace SC', sans-serif;
}

.footer-container {
    background-color: aquamarine;
    text-align: center;
    padding: 2rem;
    margin-top: 100px;
}
